#html , body{
    font-family: 'PT Sans', sans-serif;
    
}
#contenido{
    display: block;
    float: left;
    width: 88%;
    height: 100%;
}
#contenedor_imagen{
    display: inline-block;
    width: 100%;
    height: 550px;
    overflow: hidden;
    background-image: url('../img/image_top_1.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: -5px;
    animation: slide 30s infinite;
}
#prometeo_imagen{
    display: block;
    margin-top: 10%;
    margin-left: 5px;
    width: 1260px;
    height: 260px;
    background-size: contain;
    background-image: url('../img/Prometeo_top.png');
}
@keyframes slide{
    20%{
        background-image: url('../img/image_top_2.jpg');
        animation-delay: 2s;
    }
    60%{
        background-image: url('../img/image_top_3.jpg');
        animation-delay: 2s;
    }
    100%{
        background-image: url('../img/image_top_1.jpg');
        animation-delay: 2s;
    }

}

#info{
    width: 100%;
    height: 450px;
    background-color: #e9ece5
}
#info_carta{
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    
}
.info_imagen{
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 10%;
    border-radius: 100px;   
    border: solid 2px #FFF;
    background-size: cover;
}
#info_texto{
    text-align: center;
    font-size: 25px;
    padding: 10px;

    color: #3b3a36;
}
#imagen_1{
    background-image: url('../img/info_imagenes/info_estudiando.jpg');
}
#imagen_2{
    background-image: url('../img/info_imagenes/info_familia.jpg');
}
#imagen_3{
    background-image: url('../img/info_imagenes/info_mapa.jpg');
}
#imagen_4{
    background-image: url('../img/info_imagenes/info_ninos.jpg');
}
.ocultar{
    display: none;
}