
body{
    background-color: #222629;
}
#tabla_utiles {
    font-size: 20px;
    margin: auto;
    background: #FFF;
    height: 40px;
}
#tabla_utiles tbody td{
    padding: 20px;
    border: 2px solid #000;
    text-align: center;
}

