*{
    font-family: 'PT Sans', sans-serif;
}
h1{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
#preguntas{
    display: block;
    width: 30%;
    height: 500px;
    margin: auto;
    background-color:#c0dfd9;
    margin-top: 20px; 
    border-radius: 20px;
}
label{
    display: block;
    margin: auto;
    font-size: 70px;
    margin-left: 20px;
    margin-bottom: 30px;
}
#txt_pregunta{
width: 350px;
height: 40px;
margin-left: 20px;
border-radius: 100px;
text-align: center;
border: none;
font-size: 30px;
background-color: #3b3a36;
color: #e9ece5;
}
#txt_respuesta{
    resize: none;
    width: 350px;
    height: 150px;
    margin-left: 20px;
border-radius: 20px;
margin-bottom: 40px;
border: none;
font-size: 15px;
background-color: #3b3a36;
color: #e9ece5;
}
#btn_registrar{
    
    display: block; 
    
    margin: auto;
width: 200px;
height: 45px;
border: none;
border-radius: 30px;
font-size: 26px;
background-color: #3b3a36;
color: #c0dfd9;
outline: none;
cursor: pointer;

}
form{
    display: block;
    margin: auto;
}